.usernameBox {
  margin-bottom: 30px;
}

.heading {
  font-weight: 800;
  font-size: 20px;
}

.subheading {
  margin-top: 0;
  font-size: 15px;
}

.language {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: 3px solid #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.number {
  font-weight: bold;
}

.learning {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  gap: 10px;
}

.learningHeadings {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  gap: 10px;
  font-weight: bold;
}

.learningRows {
  display: grid;
}

.button { 
  margin-top: 30px;
  margin-bottom: 30px;
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 20px;
  height: 50px;
  width: 150px;
  background-color: #6D67E4;
  color: white;
  border: 3px solid white;
}

.editButton { 
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 20px;
  height: 50px;
  width: 150px;
  background-color: #6D67E4;
  color: white;
  margin-top: 20px;
  border: 3px solid white;
  cursor: pointer;
}

.resetButton {
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 14px;
  height: 50px;
  width: 150px;
  background-color: rgb(195, 11, 11);
  color: white;
  margin-top: 20px;
  border: 3px solid white;
  cursor: pointer;
}

.deleteButton {
  margin-bottom: 20px;
  font-size: 18px;
  height: 50px;
  width: 150px;
  background-color: #ff0000;
  color: white;
  margin-top: 20px;
  border: 3px solid white;
  cursor: pointer;
}


.levelsbox{
  padding-top: 40px;
}

.links {
  color: blue;
}

.links :visited {
  color: purple;
}

.cando {
  text-align: left;
}

.candoHeadings{
 text-align: left;
}

.loading{
  padding-bottom: 50px;
  height: 100vh;
}

#image {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: auto;
}

.userUploadImg {
  width: 90px;
  overflow: hidden;
  display: none;
}

.length {
  margin-top: -3px;
  color: rgb(181, 179, 179);
  font-size: 15x;
}

.usernameLength {
  margin-top: 5px;
  color: rgb(181, 179, 179);
  font-size: 15x;
}

.textarea {
  resize: none;
}