.usernameBox {
  margin-bottom: 30px;
}

.headings {
  font-weight: 800;
  font-size: 20px;
}

.subheading {
  margin-top: -18px;
  font-size: 15px;
}

.language {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  background-color: lightcyan;
}

.learning {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 480px;
  background-color: lightcyan;
}

.learningRows {
  display: grid;
}
