.usernameBox {
  margin-bottom: 30px;
}

.language {
  border: 3px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  background-color: lightcyan;
}

.learning {
  border: 3px solid green;
  display: grid;
  
  max-width: 480px;
  background-color: lightcyan;
}

.checkbox-wrapper {
  border: 3px solid blue
}

.learningRows {
  display: grid;
}
