.title {
  margin-top: 5px;
  color: white;
}

.input {
  margin: 0, auto;
  height: 50px;
  width: 150px;
}

.submit {
  height: 30px;
  width: 80px;
  font-size: 20px;
  color: white;
  background-color: #099500;
}

.close {
  margin: 30px;
  margin-bottom: 50px;
  height: 30px;
  width: 80px;
  font-size: 20px;
}
