.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.title {
  margin-top: 5px;
  color: white;
}

.card {
  border: 3px solid black;
  background-color: grey;
  height: 120px;
  width: 200px;
  margin: 40px;
}

.input {
  margin: 0, auto;
  height: 50px;
  width: 150px;
}

.submit {
  height: 30px;
  width: 80px;
  font-size: 20px;
  color: white;
  background-color: #099500;
}

.close {
  margin: 30px;
  margin-bottom: 50px;
  height: 30px;
  width: 80px;
  font-size: 20px;
}
