@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

body{
  margin: 0;
  height: 100%;
  text-align: center;
  background-color: #453C67;
  color: white;
}

textarea {
  background-color: #272727;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

textarea::placeholder {
  color: rgba(236, 236, 236, 0.873);
}

a {
  text-decoration: none;
}