@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

/* imports tailwindcss classes */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  margin: 0;
  height: 100%;
  text-align: center;
  background-color: #453c67;
  color: white;
}

textarea {
  background-color: #272727;
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
}

textarea::placeholder {
  color: #ecececdf;
}

a {
  text-decoration: none;
}