.body {
  height: 100vh;
}

.langBox {
  display: grid;
  border: 3px solid #a7a7a7;
  grid-template-columns: 10% 45% 45%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.langBoxHeader {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  font-weight: bold;
  border: 3px solid black;
  background-color: black;
  color: white;
}

.checkbox {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.front {
  border-left: 3px solid #a7a7a7;
  border-right: 3px solid #a7a7a7;
}


.plus {
  margin-top: 50px;
  height: 50px;
  width: 50px;
  font-size: 40px;
  color: white;
  background-color: #099500;
}

.minus {
  margin-top: 50px;
  height: 50px;
  width: 50px;
  font-size: 40px;
  color: white;
  background-color: red
}

.plusAndMinus {
  display: grid;
  grid-template-columns: 50% 50%;
}

.loading{
  padding-bottom: 50px;
  height: 100vh;
}

.csv {
  margin-top: 20px;
  border-radius: 25px;
  font-size: 20px;
  height: 50px;
  width: 200px;
  background-color: #6D67E4;
  color: white;
  margin-top: 20px;
  border: 3px solid white
}