

.authContainer{
  height: 350px;
  width: 340px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top:20px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 2px 5px 4px rgba(93, 93, 93, 0.5);
}

.title {
  color: #000;
}

.emailContainer{
  margin-top: 10px;
  height: 30px;
}

.passwordContainer{


}

.btn{
  height: 25px;
  width: 50%;
}

.labe

#toSignIn{
  color: blue;
}