.footerDiv {
    display: flex;
    justify-content: space-around;
    background-color: lightslategrey;
    padding-top: 10px;
    position: sticky;
    bottom: 0px;
}

.footerIconDiv {
    display: flex;
    flex-direction: column;
    color: black;
}

.black {
    color: black;
}