.footerDiv {
    display: flex;
    justify-content: space-around;
    background-color: #6D67E4;
    padding-top: 15px;
    position: fixed;
    width: 96vw;
    padding-bottom: 15px;
    bottom: 10px;
    left: 2vw;
    z-index: 9999;
    border-radius: 25px;
}

.footerIconDiv {
    display: flex;
    flex-direction: column;
}

.footerIcon {
    width: 25px;
    height: 25px !important;
}

.footerText {
    padding-bottom: 0;
    margin-bottom: 0;
}

.white {
    color: white;
}