
.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6D67E4;
  border-bottom-right-radius: 75px;
  padding: 0 50px 5px 10px;
}

#headerName {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
  font-weight: 1000;
}

#image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 0px;
  padding-left: 5px;
  object-fit: cover;
}

#skeletonImage{
  width: 55px;
  height: 55px;  
  border-radius: 50%;
  background-color: rgb(221, 221, 221);
  /* animation */
  background: linear-gradient(90deg, transparent, rgba(169, 169, 169, 0.5), transparent);
  animation: loading 5.0s linear infinite;
}

@keyframes loading {
  0% {
    background-position: -100px 0;
  }
  100% {
    background-position: 100px 0;
  }
}

#userName{
  margin: 0px;
}

.messageHeader{
  display: flex;
  background-color: bisque;
}

.userInfoForMessage{
  display: flex;
}