
.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6D67E4;
  border-bottom-right-radius: 75px;
  padding: 0 50px 5px 10px;
}

#backButton{
  border: none;
  background-color: transparent;
}

#backIcon{
  width: 45px;
  height: 45px;
  color: white;
}

#headerName {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-weight: 1000;
  font-family: offside;
}

#image {
  width: 55px;
  height: 55px;
  padding: 0px;
  padding-left: 5px;
  object-fit: cover;
}

#chatUserImage{
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.userName{
  margin: 0;
}

#skeletonImage{
  width: 55px;
  height: 55px;  
  border-radius: 50%;
  background-color: #dddddd;
  /* animation */
  background: linear-gradient(90deg, transparent, #a9a9a980, transparent);
  animation: loading 5.0s linear infinite;
}

@keyframes loading {
  0% {
    background-position: -100px 0;
  }
  100% {
    background-position: 100px 0;
  }
}

#userName{
  margin: 0px;
}

.messageHeader{
  display: flex;
  background-color: bisque;
}

.imageContainer {
  margin-top: 10px;
}

#image {
  border-radius: 25px;
}