
.textContainer {
  display: flex;
  justify-content: center;
  background-color: #6D67E4;
  height: 80px;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#textbox{
  width: 80vw;
  height: 40px;
  resize: none;
  margin-top: 5px;
  margin-left: 10px;
  font-size: x-large
}

.form {
  display: flex;
  align-items: center;
}

.inputText {
  margin-left: 2px;
  margin-bottom: 5px;
  flex-grow: 1; 
}

#sendIcon{
  color: #ffffff;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 10px
}

.sendButton{
  background-color: #6c4c4c00;
  border: none;
  margin-right: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}