.usernameBox {
  margin-bottom: 30px;
}

.heading {
  font-weight: 800;
  font-size: 20px;
}

.subheading {
  margin-top: -18px;
  font-size: 15px;
}

.language {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* border: 3px solid rgb(231, 231, 231); */
  padding-top: 10px;
  padding-bottom: 10px;

}

.learning {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Create four equal-width columns */
  gap: 10px;
}

.learningRows {
  display: grid;
}

.button {
  margin-bottom: 20px;
  border-radius: 25px;
  font-size: 20px;
  height: 50px;
  width: 150px;
  background-color: #6D67E4;
  color: white;
  border: 3px solid white;
}

.editButton {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: hwb(138 2% 40%);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #52525280;
  font-family: Arial, Helvetica, sans-serif;
}

.userImg{

}

#image {
  width: 75px;
  height: 75px;
  object-fit: cover;
}