

.userCard{
  /* background-color: #272727; */
  width: min(100%,600px);
  width: 90vw;
  margin: 10px auto;
  /* border: 1px solid #626262; */
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  
  cursor: pointer;
}

.languageLine {
  margin-top: 3px;
  margin-bottom: 2px;
  display: inline-block;
}

.subTitle {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.userInfo{
  text-align: left;
  display: flex;  

}

.userImg{
  display: flex;
  padding-right: 10px;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
  /* position: relative;
  width: 30%; */
}

#image {
  width: 100px;
  height: 100px;
  /* position: absolute; */
  border-radius: 25px;
  object-fit: cover;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.userAbout{
   /* background-color:#272727;  */
}

.userName {
  font-size: 20px;
  margin: 3px 0 5px;
  font-weight: 700px;
  font-family: 'offside'
}

.systems{
  width: 100%;
  position: relative;
}

.gamesWrapper{
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 90%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content:space-around; */
}

.game{
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.text {
  margin-bottom: 5px;
  font-family: 'offside'
}

.learningLaguagesContainer{
  display: flex;
}

.scaleWrapper {
  margin-left: 10px;
  margin-top: 7px;
  display: inline-block;
}

.languageWrapper {
  margin: 0;
  display: inline-block;
}

.languageLineWrapper {
  display: inline-block;
}
